.new_user{
  text-align: center;
  margin-top: 200px;
}
.sign{
  margin-bottom: 15px;
}

#user_name,
#user_email,
#user_password,
#user_password_confirmation {
  padding: 5px 20px;
  margin-bottom: 5px;
}

.sign2 {
  margin-bottom: 15px;
}